/** INDEX **/

/* FONTS: 25-45 */
/* BODY: 49-59 */
/* HEADER: 63-203 */
/* MAIN: 207-588
        COMMON: 208-261
        MAIN-TOP-DESIGN: 266-392
        GREY-DESIGN: 395-447
        SMALL-NEWS-DESIGN: 450-481
        LONG-NEWS-DESIGN: 484-517
        SLIDER-INDUSTRY-NEWS: 520-587
*/
/* FOOTER: 592-699 */
/* MEDIA QUERY: 703-960
                MOBILE: 704-843
                TABLET: 845-951
                MONITORS AND LAPTOPS: 953-959
*/

/** END INDEX **/

/********************************************************************************************************************************************************/

/** FONTS **/
/** FONT: REFORMA GROTESK DEMI **/
@font-face {
    font-family: 'Reforma';
    src: url('/fonts/Reforma/ReformaDemi.otf');
}
/** END FONT: REFORMA GROTESK DEMI **/

/** FONT: HELVETICA NEUE **/
@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/Helvetica/HelveticaNeueCyr-Light.otf');
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/Helvetica/HelveticaNeueCyr-Bold.otf');
    font-weight: bold;
}
/** END FONT: HELVETICA NEUE **/
/** END FONTS **/

/********************************************************************************************************************************************************/

/** BODY **/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    padding: 0;
}
/** END BODY **/

/********************************************************************************************************************************************************/

/** HEADER **/
header {
    background-color: #ffffff;
}

header .container {
    overflow-x: hidden;
}

header .logo {
    width: 87px;
    height: 89px;
    float: left;
    margin-right: 20px;
}

header .navigation {
    display: block;
}

header .navigation .top {
    padding-left: 12px;
}

header .navigation .top ul {
    margin-top: 2px;
    padding: 0;
    list-style: none;
    display: flex;
    margin-bottom: 2px;
    white-space: nowrap;
}

header .navigation .top ul li {
    padding-right: 23px;
}

header .navigation .top ul li:last-child {
    padding-right: 0;
}

header .navigation .top ul li a {
    width: fit-content;
    font-size: 10px;
    font-family: Helvetica Neue, Arial, sans-serif;
    text-transform: uppercase;
    color: #8c8c8c;
}

header .navigation .top ul li a:hover {
    text-decoration: none;
}

header .navigation .top .red-map-marker {
    color: #aa2121;
}

header .navigation .top .red-map-marker .fa-map-marker-alt {
    font-size: 15px;
    padding-right: 3px;
}

header .navigation .top .top-panel-text {
    font-family: Helvetica Neue, Arial, sans-serif;
    text-transform: uppercase;
    color: #8c8c8c;
}

header .navigation .top .top-panel-text span {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 100;
    color: #8c8c8c;
}

header .navigation .top .top-panel-text .search-btn {
    font-size: 13px;
}

header .navigation .top .top-panel-text li {
    padding: 0 11px;
}

header .navigation .bottom {
    padding-left: 8px;
    padding-top: 6px;
}

header .navigation .bottom .site-name {
    font-family: Reforma, Arial, sans-serif;
    color: #aa2121;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 700;
    width: fit-content;
    padding: 0;
    margin: 0;
    float: left;
    white-space: nowrap;
}

header .navigation .bottom .navbar-collapse {
    text-align: right;
}

header .navigation .bottom .navbar-container .navbar {
    padding: 0;
}

header .navigation .bottom .navbar-nav {
    margin-left: auto;
    padding-top: 2px;
    font-size: 18px;
    font-family: Reforma, Arial, sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
}

header .navigation .bottom .navbar-nav .nav-item {
    padding-left: 0.5em;
}

header .navigation .bottom .navbar-nav .nav-link {
    color: #000000;
}

header .navigation .bottom .navbar-nav .active > .nav-link {
    color: red;
}

header .navigation .bottom .navbar-nav .nav-link:hover {
    color: #aa2121;
}

header .navigation .bottom .navbar-nav .nav-item:first-child {
    padding-left: 0;
}

header .navigation .bottom .navbar-nav .nav-link:last-child {
    padding-right: 0;
}
/** END HEADER **/

/********************************************************************************************************************************************************/

/** MAIN **/
main {
    clear: both;
}

.border-top {
    border-top: 1px solid #dcdcdc !important;
}

.border {
    border-top: 1px solid #dcdcdc !important;
}

.btn-link {
    font-size: 12px;
    line-height: 22px;
    color: #8c8c8c;
    font-family: Helvetica Neue;
    text-transform: uppercase;
    border-bottom: 1px solid #dee2e6 !important;
}

.btn-link.white {
    color: #ffffff;
    border-bottom: 1px solid #ffffff !important;
}

.btn-link:hover {
    text-decoration: none;
    color: #aa2121;
    border-bottom: 1px solid #aa2121 !important;
    transition: .2s ease-in;
    transition-delay: 0.2s;
}

.social-activity {
    font-size: 12px;
    color: #8c8c8c;
    font-family: Helvetica Neue;
    font-weight: 300;
}

.social-activity.white {
    color: #ffffff;
}

.social-activity .far {
    font-size: 17px;
}

.social-activity span {
    padding-right: 5px;
}

.social-activity span:nth-child(2) {
    padding-right: 15px;
}


/** MAIN-TOP-DESIGN **/
.main-top-design .news-main-design .big-main-slider {
    height: fit-content;
    width: 100%;
}

.main-top-design .news-main-design .big-main-slider .carousel-item .carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 0;
    color: #fff;
    text-align: left;
    padding: 0 0 25px 25px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0) 100%);
}

.main-top-design .news-main-design .big-main-slider .carousel-item .slide-title {
    font-size: 30px;
    color: #ffffff;
    font-family: Helvetica Neue;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2
}

.main-top-design .news-main-design .big-main-slider .carousel .carousel-control-next,
.main-top-design .news-main-design .big-main-slider .carousel .carousel-control-prev {
    width: 4%;
    opacity: 1;
}

.main-top-design .news-main-design .big-main-slider .carousel .carousel-control-next-icon {
    background-image: url(../left-control-arrow.svg);
}

.main-top-design .news-main-design .big-main-slider .carousel .carousel-control-prev-icon {
    background-image: url(../right-control-arrow.svg);
}

.main-top-design .news-main-design .big-main-slider .carousel .carousel-indicators {
    position: inherit;
    margin-top: 10px;
}

.main-top-design .news-main-design .big-main-slider .carousel .carousel-indicators li {
    background-color: #8c8c8c;
    width: 11px;
    height: 11px;
    border-radius: 5px;
    border: 0;
    margin-right: 4px;
    margin-left: 4px;
}

.main-top-design .news-main-design .main-small-design .main-small-new.alt {
    width: 100%;
    position: relative;
}

.main-top-design .news-main-design .main-small-design .main-small-new.alt .alt-inner {
    position: relative;
}

.main-top-design .news-main-design .main-small-design .main-small-new.alt .alt-img-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 16px 25px 16px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0) 100%);
}

.main-top-design .news-main-design .main-small-design .main-small-new.alt .alt-img-caption .title-small-new {
    color: #ffffff;
}

.main-top-design .news-main-design .main-small-design .main-small-new .title-small-new {
    font-size: 18px;
    line-height: 24px;
    color: #222122;
    font-family: Arial;
    font-weight: bold;
    padding-bottom: 15px;
}

.main-top-design .sidebar-announce .title-announce {
    width: 100%;
    height: 65px;
    background-color: #b7b7b7;
    font-size: 30px;
    font-family: Reforma, Arial, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}

.main-top-design .sidebar-announce .title-announce span {
    padding-left: 27px;
    white-space: nowrap;
}

.main-top-design .sidebar-announce .announce-new {
    margin: 0 20px 32px 20px;
}

.main-top-design .sidebar-announce .announce-new:last-child {
    margin: 0 20px 65px 20px;
}

.main-top-design .sidebar-announce .announce-new.with-img {
    margin: 15px 20px 32px 20px;
}

.main-top-design .sidebar-announce .announce-new.with-img img {
    padding-bottom: 10px;
}

.main-top-design .sidebar-announce .announce-new .announce-new-title {
    font-size: 16px;
    color: #000000;
    font-family: Helvetica Neue;
    font-weight: bold;
    line-height: 1.3;
}
/** END MAIN-TOP-DESIGN **/


/** GREY-DESIGN **/
.grey-design {
    padding: 15px 10px 28px 25px;
    background-color: #ededed;
}

.grey-design.border-top {
    border-top: 1px solid #aa2121 !important;
}

.grey-design .title-grey-design {
    padding-bottom: 12px;
    font-size: 30px;
    line-height: 24px;
    color: #aa2121;
    font-family: Reforma;
    text-transform: uppercase;
}

.grey-design .big-grey-slider .carousel-item .carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 0;
    color: #fff;
    text-align: left;
    padding: 0 0 32px 28px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0) 100%);
}

.grey-design .big-grey-slider .carousel-item .slide-title {
    font-size: 30px;
    color: #ffffff;
    font-family: Helvetica Neue;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2
}

.grey-design .grey-new {
    margin: 10px 0 25px 0;
}

.grey-design .grey-new .grey-new-title {
    font-size: 16px;
    color: #000000;
    font-family: Helvetica Neue;
    font-weight: bold;
    line-height: 1.3;
}
/** END GREY-DESIGN **/


/** SMALL-NEWS-DESIGN **/
.small-news-design .small-new .small-new-title {
    font-size: 18px;
    line-height: 24px;
    color: #222122;
    font-family: Arial;
    font-weight: bold;
    padding-bottom: 15px;
}

.small-news-design .small-new.alt {
    width: 100%;
    position: relative;
}

.small-news-design .small-new.alt .small-new-inner {
    position: relative;
}

.small-news-design .small-new.alt .small-new-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 16px 25px 16px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0) 100%);
}

.small-news-design .small-new.alt .small-new-caption .small-new-title {
    color: #ffffff;
}
/** END SMALL-NEWS-DESIGN **/


/** LONG-NEWS-DESIGN **/
.long-news-design .long-new {
    width: 100%;
    position: relative;
}

.long-news-design .long-new .long-new-inner {
    position: relative;
}

.long-news-design .long-new .long-new-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 16px 25px 16px;
}

.long-news-design .long-new.alt .long-new-caption {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0) 100%);
}

.long-news-design .long-new .long-new-title {
    font-size: 18px;
    color: #222122;
    font-family: Arial;
    font-weight: bold;
    padding-bottom: 15px;
}

.long-news-design .long-new .long-new-title.white {
    color: #ffffff;
}
/** END LONG-NEWS-DESIGN **/


/** SLIDER-INDUSTRY-NEWS **/
.slider-industry-news .title-industry-news {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    color: #000000;
    font-family: Reforma;
    text-transform: uppercase;
}

.slider-industry-news .industry-slider {
    padding-bottom: 16px;
}

.slider-industry-news .industry-slider .owl-item {
    position: relative;
}

.slider-industry-news .industry-slider .item {
    position: relative;
}

.slider-industry-news .industry-slider .item-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 16px 25px 16px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0) 100%);
}

.slider-industry-news .industry-slider .owl-theme .owl-nav {
    margin-top: 0;
}

.slider-industry-news .industry-slider .carousel-control-next-icon {
    background-image: url(../left-control-arrow-white.svg);
}

.slider-industry-news .industry-slider .carousel-control-prev-icon {
    background-image: url(../right-control-arrow-white.svg);
}

.slider-industry-news .industry-slider .owl-stage-outer {
    padding: 0 4%;
}

.slider-industry-news .industry-slider .carousel-control-next {
    opacity: 1;
    width: 5%;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
}

.slider-industry-news .industry-slider .carousel-control-prev {
    opacity: 1;
    width: 5%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
}

.slider-industry-news .industry-slider .industry-title {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-family: Arial;
    font-weight: bold;
    padding-bottom: 15px;
}
/** END SLIDER-INDUSTRY-NEWS **/
/** END MAIN **/

/********************************************************************************************************************************************************/

/** FOOTER **/
footer {
    background-color: #8b8b8b;
}

footer .logo {
    float: left;
    height: 100%;
}

footer .site-name {
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: 35px;
    color: #ffffff;
    font-family: Reforma;
    text-transform: uppercase;
}

footer .description {
    font-size: 12px;
    color: #ffffff;
    font-family: Helvetica Neue;
    line-height: 1.2;
    padding-bottom: 12px;
}

footer .btn-subscribe {
    display: block;
    font-size: 16px;
    color: #ffffff;
    font-family: Reforma;
    width: 196px;
    height: 29px;
    border-radius: 3px;
    background-color: #a92127;
    border: 0;
    text-transform: uppercase;
    margin-bottom: 55px;
}

footer .category {
    font-size: 12px;
    color: #ffffff;
    font-family: Helvetica Neue;
    text-transform: uppercase;
    padding-top: 48px;
    padding-bottom: 8px;
}

footer .category-list {
    padding: 0;
}

footer .category-list li {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
}

footer .category-list li a {
    line-height: 1.5;
    font-size: 12px;
    color: #ffffff;
    font-family: Helvetica Neue;
}

footer .social {
    font-size: 12px;
    color: #ffffff;
    font-family: Helvetica Neue;
    text-transform: uppercase;
    padding-top: 48px;
    padding-bottom: 15px;
}

footer .social-icon {
    padding: 0;
    margin: 0;
}

footer .social-icon li {
    display: flex;
    float: left;
    list-style: none;
    margin-right: 19px;
    margin-bottom: 19px;
}

footer .social-icon li:nth-child(4n) {
    margin-right: 0;

}

footer .social-icon li:nth-child(4n+1) {
    clear: both;
}

.copyright {
    padding: 10px 0 15px 0;
    background-color: #9c9c9c;
    font-size: 10px;
    color: #ffffff;
    font-family: Helvetica Neue;
    line-height: 1.4;
}
/** END FOOTER **/

/********************************************************************************************************************************************************/

/** MEDIA QUERY **/
/** MOBILE STYLES **/
@media (max-width: 575.9px) {
    .container {
        padding: 0 20px;
    }

    header .navigation .bottom .site-name {
        font-size: 36px;
        height: fit-content;
    }

    header .navigation .top .top-panel-text {
        margin-left: auto;
    }

    .social-activity {
        font-size: 10px;
    }

    .main-top-design .sidebar-announce .announce-new:last-child {
        margin-bottom: 32px;
    }

    .main-top-design .news-main-design .main-small-design .main-small-new {
        margin-bottom: 2rem;
    }

    .grey-design {
        padding: 15px 25px 28px 25px;
    }

    .grey-design .title-grey-design {
        padding-bottom: 25px;
    }

    .main-top-design .news-main-design .big-main-slider .carousel-item .slide-title,
    .grey-design .big-grey-slider .carousel-item .slide-title {
        font-size: 18px;
    }

    .main-top-design .news-main-design .big-main-slider .carousel .carousel-control-next,
    .main-top-design .news-main-design .big-main-slider .carousel .carousel-control-prev {
        display: none;
    }

    .main-top-design .news-main-design .big-main-slider .carousel-item .carousel-caption,
    .grey-design .big-grey-slider .carousel-item .carousel-caption {
        padding: 0px 25px 25px 25px;
    }

    .long-new,
    .small-new {
        margin-bottom: 2rem;
    }

    .small-news-design .small-new .small-new-title,
    .long-news-design .long-new .long-new-title {
        font-size: 14px;
        padding-bottom: 5px;
    }

    .copyright,
    footer .category,
    footer .category-list,
    footer .site-name,
    footer .description,
    footer .social {
        text-align: center;
    }

    footer .category,
    footer .social {
        padding-top: 35px;
    }

    footer .btn-subscribe,
    footer .social-icon {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 0;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    footer .btn-subscribe {
        margin-bottom: 10px;
    }

    .long-new,
    .small-new {
        margin-bottom: 2rem;
    }

    .navigation .bottom .site-name {
        font-size: 36px;
        height: fit-content;
    }

    .main-top-design .news-main-design .big-main-slider .carousel-item .slide-title,
    .grey-design .big-grey-slider .carousel-item .slide-title {
        font-size: 18px;
    }

    .main-top-design .news-main-design .big-main-slider .carousel .carousel-control-next,
    .main-top-design .news-main-design .big-main-slider .carousel .carousel-control-prev {
        display: none;
    }

    .grey-design .big-grey-slider .carousel-item .carousel-caption,
    .main-top-design .news-main-design .big-main-slider .carousel-item .carousel-caption {
        padding: 0px 25px 25px 25px;
    }

    .main-top-design .sidebar-announce .announce-new:last-child {
        margin-bottom: 32px;
    }

    .grey-design .title-grey-design {
        padding-bottom: 25px;
    }

    .grey-design {
        padding: 15px 25px 28px 25px;
    }

    .small-news-design .small-new .small-new-title,
    .long-news-design .long-new .long-new-title {
        font-size: 14px;
        padding-bottom: 5px;
    }

    .main-top-design .news-main-design .main-small-design .main-small-new {
        margin-bottom: 2rem;
    }

    .navigation .top .top-panel-text {
        margin-left: auto;
    }
}
/** END MOBILE STYLES **/

/** TABLET STYLES **/
@media (min-width: 768px) and (max-width: 991px) {
    .main-top-design .news-main-design .main-small-design .main-small-new {
        margin-bottom: 1rem;
    }

    .main-top-design .sidebar-announce .title-announce span {
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .main-top-design .sidebar-announce .title-announce {
        font-size: 28px;
    }

    .small-news-design .small-new .small-new-title,
    .long-news-design .long-new .long-new-title {
        font-size: 16px;
        padding-bottom: 5px;
    }

    .grey-design {
        padding: 15px 25px 28px 25px;
    }

    .main-top-design .sidebar-announce .announce-new:last-child {
        margin-bottom: 32px;
    }

    .long-new,
    .small-new {
        margin-bottom: 2rem;
    }

    .main-top-design .news-main-design .big-main-slider .carousel-item .slide-title {
        font-size: 18px;
    }

    .grey-design .big-grey-slider .carousel-item .slide-title {
        font-size: 24px;
    }

    .grey-design .big-grey-slider .carousel-item .carousel-caption,
    .main-top-design .news-main-design .big-main-slider .carousel-item .carousel-caption {
        padding: 0px 30px 30px 30px;
    }

    .main-top-design .news-main-design .big-main-slider .carousel .carousel-control-next,
    .main-top-design .news-main-design .big-main-slider .carousel .carousel-control-prev {
        width: 7%;
        z-index: 999;
    }

    .navigation .bottom .site-name {
        font-size: 32px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .navigation .top {
        padding-left: 7px;
    }

    .navigation .top ul li {
        padding-right: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .main-top-design .sidebar-announce .title-announce span {
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .main-top-design .sidebar-announce .title-announce {
        font-size: 26px;
    }

    .navigation .bottom .site-name {
        font-size: 32px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .navigation .bottom .navbar-nav {
        font-size: 16px;
    }

    .navigation .top {
        padding-left: 5px;
    }

    .navigation .top ul li {
        padding-right: 15px;
    }

    .navigation .bottom .navbar-nav .nav-item {
        padding-left: 0.7em;
    }

    .navigation .bottom .navbar-nav .nav-link {
        padding-left: 0;
    }
}
/** END TABLET STYLES **/

/** MONITORS AND LAPTOPS STYLES **/
@media (min-width: 1340px) {
    .container {
        max-width: 1280px;
    }
}
/** END MONITORS AND LAPTOPS STYLES **/
/** END MEDIA QUERY **/
